@use "../base/variables" as variables;

body .recipe__search-list-container {
  grid-area: asd;
  z-index: 99;
  background-color: variables.$color-text-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width >= 48rem) {
    grid-column: 1 / 5;
  }

  // Styles for the active state (mobile side)
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100vh;
    max-width: 40rem; // Maximum width for larger screen sizes
    background-color: variables.$color-text-white;
    box-shadow: 0 0 10px rgba($color: #000, $alpha: 100%);
    transition: 0.3s ease-in-out;
    z-index: 1000;

    @media (width >= 48rem) {
      position: static;
      width: auto;
      max-width: none;
      box-shadow: none;
    }
  }

  .recipe__search-list-header {
    height: 2.9rem;
    font-size: variables.$font-size-4xl;
    text-align: right;
    border-bottom: 0.56px solid variables.$color-border-maroon;
  }

  .recipe__search-list {
    flex: 1;
    max-height: 80%;
    overflow-y: auto;

    .results {
      list-style: none;
      margin-bottom: 2rem;
    }
  }
}
