@use "../base/variables" as variables;
@use "../utilities/mixins" as mix;

body .header {
  grid-area: hdr;
  grid-column: 1 / -1;

  // stacking all elements within header as stack
  @include mix.stack(1.7em);

  background-color: variables.$color-body-backround-grey-1;

  &__logo {
    width: 55vw;
    max-width: 200px;
    height: auto;
    padding: variables.$spacing-md;
  }

  &__search-form {
    @include mix.horizontal-stack(0.5em);

    background-color: variables.$color-text-white;
    border-radius: 10em;
    transition: all 0.3s;

    &-input {
      flex-grow: 1;
      font-size: variables.$font-size-md;
      font-family: inherit;
      background: none;
      border: none;
      outline: none;
      padding-left: 1em;
      color: variables.$color-text-dark-1;
      width: 12.6rem;
      height: 3.2rem;

      &::placeholder {
        color: variables.$color-text-placeholder;
      }

      &:focus-within {
        transform: translateY(-2px);
        box-shadow: 0 0.7rem 3rem rgba(variables.$color-text-dark-1, 0.08);
      }
    }

    &-btn {
      @include mix.button("small", "primary");

      font-size: variables.$font-size-sm;
      border-radius: 10em;
      color: variables.$color-text-white;

      .search__icon {
        fill: currentcolor;
        width: 1.2em;
        height: 1.2em;
      }
    }
  }

  &__nav {
    .nav__list {
      @include mix.horizontal-stack(1em);
      @include mix.button("small", "secondary");

      background-color: transparent;
    }
  }
}
