@use "../base/variables" as variables;
@use "../utilities/mixins" as mix;

body .main {
  grid-area: mnn;
  grid-row: 2 / 3;
  background-color: variables.$color-body-backround-grey-1;

  @media (min-width >= 48rem) {
    grid-column: 5 span 7;
  }

  .recipe {
    &__fig {
      height: 11.5rem;
      position: relative;
      transform-origin: top;

      > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to right bottom,
          variables.$color-background-yellow,
          variables.$color-background-orange
        );
        opacity: 0.6;
      }
    }

    // section recipe details

    &__title-container {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translate(-50%, 20%);
      width: 90%;
      max-width: 40rem;
      display: flex;
      justify-content: center;
    }

    &__title {
      position: relative;
      display: inline-block;
      color: variables.$color-text-white;
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.95;
      transform: skewY(-6deg);

      > span {
        display: inline;
        z-index: 1;
        padding: 0.8em 1.2em;
        box-decoration-break: clone;

        &::before {
          content: "";
          position: absolute;
          inset: 0 -0.5em;
          background-image: linear-gradient(
            to right bottom,
            variables.$color-background-yellow,
            variables.$color-background-orange
          );
          z-index: -1;
          transform: skew(-6deg);
        }
      }
    }

    &__detail-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1.5em 1em;
    }

    &__details {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: variables.$color-body-background-grey-2;

      @media (width >= 48rem) {
        flex-direction: row;
      }
    }

    // section ingredients

    &__ingredients {
      padding: 3.5em 1em;

      &--heading {
        @include mix.heading(
          variables.$font-size-xl,
          variables.$color-text-orange
        );
      }
    }

    &__ingredient-list {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      place-items: center;
      gap: 1em;

      @media (width >= 48rem) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        place-items: flex-start;
      }
    }

    // section directions

    &__directions {
      padding: 3.5em 1em;

      &--heading {
        @include mix.heading(
          variables.$font-size-xl,
          variables.$color-text-orange
        );
      }

      &-text {
        font-size: variables.$font-size-md;
        text-align: center;
        color: variables.$color-text-grey-dark-1;

        &--publisher {
          color: variables.$color-text-grey-dark-2;
          font-weight: 700;
        }
      }

      &--btn {
        @include mix.button("small", "primary");

        border-radius: 10em;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
        margin-top: 1em;

        &:hover {
          transform: scale(1.05);
        }

        > span {
          text-transform: uppercase;
          margin-right: variables.$spacing-sm;
        }

        svg {
          fill: currentcolor;
          font-weight: 700;
        }
      }
    }
  }
}
