// Grid layout

.u-grid {
  min-height: 100vh;
  gap: 0.3em;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
}

.u-grid-template-areas {
  grid-template-areas:
    "hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr"
    "mnn mnn mnn mnn mnn mnn mnn mnn mnn mnn mnn mnn"
    "ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr";
}

// Media query

@media (width >= 48rem) {
  .u-grid-template-areas {
    grid-template-areas:
      "hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr hdr"
      "asd asd asd asd mnn mnn mnn mnn mnn mnn mnn mnn"
      "ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr ftr";
  }
}

.u-grid-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;
  gap: 1em;
}

// Flex layout

.u-flex-row {
  display: flex;
  gap: 0.2em;
}

.u-flex-inline {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.u-flex-col {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
