// Fonts

// Root font size (set to 10px)
$root-font-size: 62.5%;

// Font size scale
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.25rem; // 20px
$font-size-2xl: 1.5rem; // 24px
$font-size-3xl: 1.875rem; // 30px
$font-size-4xl: 2.25rem; // 36px
$font-size-5xl: 3rem; // 48px
$font-size-6xl: 3.75rem; // 60px
$font-size-7xl: 4.5rem; // 72px
$font-size-8xl: 5.5rem; // 90px

// Colours

$color-text-white: #fff;
$color-text-dark-1: #615551;
$color-text-dark-2: #918581;
$color-text-orange: #f38e82;
$color-text-placeholder: #d3c7c3;
$color-text-grey-dark-1: #615551; // Normal text
$color-text-grey-dark-2: #918581; // Lighter text
$color-body-backround-grey-1: #f9f5f3;
$color-body-background-grey-2: #f2efee;
$color-background-yellow: #fbdb89;
$color-background-orange: #f48982;
$color-border-darker-orange: #F05D53;
$color-border-maroon: #800000;

// Spacings for paddings and margins

$spacing-xs: 0.25em; // 2.5px
$spacing-sm: 0.5em; // 5px
$spacing-md: 1em; // 10px
$spacing-lg: 1.5em; // 15px
$spacing-xl: 2em; // 20px
$spacing-2xl: 3em; // 30px

// Logo width

$logo-width: 150px;
