@use "../base/variables" as variables;

body .header .header__nav .nav__list .nav__item--bookmark .bookmarks {
  position: absolute;
  width: 20rem;
  top: 100%;
  left: -130%;
  background-color: white;
  color: black;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  padding: 1em;
  border-radius: 5px;
  z-index: 100;
}
