@use "../base/variables" as variables;

body .header .header__nav .nav {
  &__item {
    background-color: transparent;
    color: variables.$color-text-white;
    border-radius: 0.25em;
    padding: variables.$spacing-md;
    text-align: center;
  }
}
