body .recipe__detail-container .recipe__details .recipe__info {
  display: flex;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

body .recipe__detail-container .recipe__details .recipe__user-generated {
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

body .recipe__detail-container .recipe__details .btn--round {
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
